.explore-section {
    /* Updated class name */
    width: 100%;
}

.explore-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.request-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.request-item:hover {
    background-color: #f0f0f0;
}

.button-group {
    display: none;
}

.request-item:hover .button-group {
    display: flex;
    gap: 4px
}

.request-item button {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
}

.add-request-button {
    padding: 10px 15px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.request-item button:hover {
    opacity: 0.8;
}