/*client/src/components/TrendingSection.css*/

.trending-section {
    width: 100%
}

.trending-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}